<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="icon.svg">
  <title>
    <%= title %>
  </title>
  <style>
    <%= githubMarkdownCss %>
  </style>
  <style>
    .markdown-body {
          box-sizing: border-box;
          min-width: 200px;
          max-width: 980px;
          margin: 0 auto;
          padding: 45px;
     }
  </style>
  <style>
    <%=highlightJsThemeCss %>
  </style>
</head>

<body class="markdown-body">

 <%= content %>

</body>

</html>
